.markazi {
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.cherry {
    font-family: "Cherry Cream Soda", serif;
    font-weight: 400;
    font-style: normal;
}  